<div class="main">
    <div class="containerMain">
        <div class="selection">
            <span class="pomodoro active">Pomodoro</span>
            <span class="short">Short Break</span>
            <span class="long">Long Break</span>
        </div>

        <div class="clock">
            <span class="minutes">
                25
            </span>
            :
            <span class="seconds">
                00
            </span>
        </div>
        <div class="buttons">
            <div class="button startButton">
                Start
            </div>

            <div class="button resetButton">
                Reset
            </div>
        </div>
    </div>

    <div class="taskBox">
        <div class="activity">
            Time to focus!
        </div>
        
        <div class="addTask">
            <i class="fas fa-plus-circle">Add Task</i>
        </div>
        <div class="listTask">

        </div>
        <input class="innerTask visible" placeholder="Enter your task <3">
        </input>
    </div>
</div>