<section style="background-color: transparent">
    <div class="mask d-flex align-items-center justify-content-center gradient-custom-3">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-center mb-5">Create an account</h2>

                <div class="text-center" style="color: red;font-size: 1.5rem;">
                  <% if (locals.errorMessage != null) { %>
                    <%= errorMessage %>
                    <i class="fas fa-exclamation"></i>
                  <% } %>
                </div>
                <div class="text-center" style="color: rgb(19, 180, 92);font-size: 1.5rem;">
                  <% if (locals.success != null) { %>
                    <%= success %>
                    <i class="fas fa-kiss-wink-heart"></i>
                  <% } %>
                </div>
                <form method="POST">
  
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example3cg">Your User Name</label>
                    <input type="text" id="form3Example3cg" class="form-control form-control-lg" name="UserName"/>
                  </div>
  
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example4cg">Password</label>
                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="Password"/>
                  </div>
  
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg" name="rePassword"/>
                  </div>
                  
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>